<div class="container formWrapper">
  <div class="row">
        <div class="col-md-4">
          <!--<div class="panel panel-default" *ngIf = "!enableSecondPanel">-->
          <div class="panel panel-default">  
            <div class="panel-heading"><b>Step 1 Enter Tournament Details</b></div>
            <!--form 1 start -->
            <form  [formGroup]= "tournamentDetails" novalidate (ngSubmit)="submitTournamentDetails(tournamentDetails.value)">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                    <div *ngIf="electedToController.errors">
                      <div *ngIf = "electedToController.errors.pattern"class="alert alert-danger" role="alert">
                        Please Enter Valid Value for Elected To Field.
                      </div><!--div.alert alert-danger Ends -->
                    </div><!--div electedToController.errors Ends -->
                    <div *ngIf="runsConcededController.errors">
                      <div *ngIf = "runsConcededController.errors.pattern"class="alert alert-danger" role="alert">
                        Please Enter Valid Runs Conceded.
                      </div><!--div.alert alert-danger Ends -->
                    </div><!--div runsConcededController.errors Ends -->
                    <div *ngIf="oversBowledController.errors">
                      <div *ngIf = "oversBowledController.errors.pattern"class="alert alert-danger" role="alert">
                        Please Enter Valid Overs Bowled.
                      </div><!--div.alert alert-danger Ends -->
                    </div><!--div oversBowledController.errors Ends -->
                  </div>
                  <div class="form-group col-md-6">
                    <label for="">Tournament Name</label>
                    <input type="text" class="form-control" formControlName="tournament_name" ngModel>
                  </div><!--div.form-group Ends-->
                  <div class="form-group col-md-6">
                    <label for="">Ground Name</label>
                    <input type="text" class="form-control" formControlName="match_venue" ngModel>
                  </div><!--div.form-group Ends-->
                </div><!--div.row Ends-->
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="">Date and Time</label>
                    <input type="text" class="form-control" formControlName="match_time" ngModel>
                  </div><!--div.form-group Ends-->
                  <div class="form-group col-md-6">
                    <label for="">Toss Won By</label>
                    <input type="text" class="form-control" formControlName="toss" ngModel>
                  </div><!--div.form-group Ends-->
                </div><!--div.row Ends-->
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="">Elected To</label>
                    <input type="text" class="form-control" formControlName="elected_to" ngModel>
                  </div><!--div.form-group-->
                  <div class="form-group col-md-6">
                    <label for="">Result</label>
                    <input type="text" class="form-control" formControlName="match_result" ngModel>
                  </div><!--div.form-group-->
                </div><!--div.row Ends-->
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="">Run Conceded</label>
                    <input type="text" class="form-control" formControlName="runs_conceded" ngModel>
                  </div><!--div.form-group-->
                  <div class="form-group col-md-6">
                    <label for="">Overs Bowled</label>
                    <input type="text" class="form-control" formControlName="overs_bowled" ngModel>
                  </div><!--div.form-group-->
                </div><!--div.row Ends-->
                <div class="form-group">
                  <label for="">Man of the Match</label>
                  <input type="text" class="form-control" formControlName="man_of_match" ngModel>
                </div><!--div.form-group-->
                <button type="submit" [disabled]="!tournamentDetails.valid" class="btn btn-info">Submit</button>
              </div><!-- div.panel-body Ends -->
            </form>
            </div><!--div.panel panel-default Ends -->
          </div><!--div.col-md-6 Ends -->
          <!--form 2 start -->
          <div class="col-md-8">
            <!--<div class="panel panel-default" *ngIf = "enableSecondPanel">-->
            <div class="panel panel-default">
              <div class="panel-heading"><b>Step 2 Enter Match Details</b></div>
              <form [formGroup]= "matchDetails" novalidate>
                <div class="panel-body">
                  <div class="playerAdd">
                    <div class="row">
                      <div class="col-md-12">
                        <div *ngIf="runScoredController.errors">
                          <div *ngIf = "runScoredController.errors.pattern"class="alert alert-danger" role="alert">
                            Please Enter Valid Runs.
                          </div><!--div.alert alert-danger Ends -->
                        </div><!--div runScoredController.errors Ends -->
                        <div *ngIf="ballFacedController.errors">
                          <div *ngIf = "ballFacedController.errors.pattern"class="alert alert-danger" role="alert">
                            Please Enter Valid Ball Faced.
                          </div><!--div.alert alert-danger Ends -->
                        </div><!--div ballFacedController.errors Ends -->
                        <div *ngIf="oversController.errors">
                          <div *ngIf = "oversController.errors.pattern"class="alert alert-danger" role="alert">
                            Please Enter Valid Ball Faced.
                          </div><!--div.alert alert-danger Ends -->
                        </div><!--div oversController.errors Ends -->
                        <div *ngIf="maidensController.errors">
                          <div *ngIf = "maidensController.errors.pattern"class="alert alert-danger" role="alert">
                            Please Enter Valid Maidens.
                          </div><!--div.alert alert-danger Ends -->
                        </div><!--div maidensController.errors Ends -->
                        <div *ngIf="runsGivenController.errors">
                          <div *ngIf = "runsGivenController.errors.pattern"class="alert alert-danger" role="alert">
                            Please Enter Valid Runs Given.
                          </div><!--div.alert alert-danger Ends -->
                        </div><!--div runsGivenController.errors Ends -->
                        <div *ngIf="wicketsTakenController.errors">
                          <div *ngIf = "wicketsTakenController.errors.pattern"class="alert alert-danger" role="alert">
                            Please Enter Valid Wickets Taken.
                          </div><!--div.alert alert-danger Ends -->
                        </div><!--div wicketsTakenController.errors Ends -->
                      </div><!--div.col-md-12 Ends-->
                      <div class="form-group col-md-4">
                        <label for="">Select Player</label>
                        <Select class="form-control" formControlName="pname" ngModel ngDefaultControl>
                          <option value=""></option>
                          <option value="{{item.pname}}" *ngFor = "let item of allPlayerData">{{item.pname}}</option>
                        </Select>
                      </div><!--div.form-group Ends-->
                      <div class="form-group col-md-4">
                        <label for="">Run Scored</label>
                        <input type="text" class="form-control" formControlName="runs_scored" ngModel>
                      </div><!--div.form-group Ends-->
                      <div class="form-group col-md-4">
                        <label for="">Ball Faced</label>
                        <input type="text" class="form-control" formControlName="balls_faced" ngModel>
                      </div><!--div.form-group Ends-->
                    </div><!--div.row Ends-->
                    <div class="row">
                      <div class="form-group col-md-3">
                        <label for="">Overs</label>
                        <input type="text" class="form-control" formControlName="overs" ngModel>
                      </div><!--div.form-group-->
                      <div class="form-group col-md-3">
                        <label for="">Maidens</label>
                        <input type="text" class="form-control" formControlName="maidens" ngModel>
                      </div><!--div.form-group-->
                      <div class="form-group col-md-3">
                        <label for="">Runs Given</label>
                        <input type="text" class="form-control" formControlName="runs_given" ngModel>
                      </div><!--div.form-group-->
                      <div class="form-group col-md-3">
                        <label for="">Wickets</label>
                        <input type="text" class="form-control" formControlName="wickets_taken" ngModel>
                      </div><!--div.form-group-->
                    </div>
                  </div><!--div.playerAdd Ends-->
                  <div class="clearfix"></div>
                  <button [hidden]="matchInfo.length === 11" (click)=submitMatchDetails(matchDetails.value)
                  [disabled]="!matchDetails.valid" class="btn btn-info">Add</button>
                  <div class="row">
                    <div class="col-md-12">
                      <table class="table table-striped addPlayerDetails">
                        <tr>
                          <th>SR. NO</th>
                          <th>Player Name</th>
                          <th>Run Scored</th>
                          <th>Ball Faced</th>
                          <th>Overs Bowled</th>
                          <th>Maidens</th>
                          <th>Runks Given</th>
                          <th>Wickets Taken</th>
                          <th>Action</th>
                        </tr>
                        <tr *ngFor="let player of matchInfo; let i = index">
                          <td>{{i+1}}</td>
                          <td>{{player.pname}}</td>
                          <td>{{player.runs_scored}}</td>
                          <td>{{player.balls_faced}}</td>
                          <td>{{player.overs}}</td>
                          <td>{{player.maidens}}</td>
                          <td>{{player.runs_given}}</td>
                          <td>{{player.wickets_taken}}</td>
                          <td><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></td>
                        </tr>
                    </table>
                  <button type="submit" class="btn btn-info" [hidden]="matchInfo.length !== 11">Submit</button> 
                    </div><!--div.col-md-12 Ends-->
                  </div><!-- div.row Ends -->
                </div><!-- div.panel-body Ends -->
              </form>
            </div><!--div.panel panel-default Ends -->
          </div><!--div.col-md-6 Ends-->
  </div>
</div>
